# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [1]:
lst = []

for x in 'word':
  lst.append(x)

lst

['w', 'o', 'r', 'd']

In [0]:
# Grab every letter in string
lst = [ x for x in 'word' ]

lst_1 = [ x for x in 'my word']

In [3]:
# Check
print(lst)
print(lst_1)

['w', 'o', 'r', 'd']
['m', 'y', ' ', 'w', 'o', 'r', 'd']

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10 } 

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [5]:
list( range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
lst = []
for x in range(0,11):
  lst.append( x)

lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
lst = []
for x in range(0,11):
  lst.append( x **2 ) # x raised power 2

lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# Square numbers in range and turn into list

# lst = [x**2 for x in range(0,11)]


lst = [ x for x in range(0,11) ]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
lst = [ x**2 for x in range(0,11) ]
lst_with_5_addition = [ x + 5 for x in range(0,11) ]

In [15]:
lst

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

## Example 3
Let's see how to add in <code>if</code> statements:

In [18]:
lst = []
for x in range(0,11):
  if(x % 2 == 0) :
    lst.append( x )

lst

[0, 2, 4, 6, 8, 10]

#BASIC FORMAT
    
    lst = [ "elements you want to display in the list"          " for loop code "           " condition"]

In [0]:
# Check for even numbers in a range
#lst = [x for x in range(11) if x % 2 == 0]

# lst = [ x+5 for x in range(0,11) if x % 2 == 0]
lst = [ x for x in "kristin" if x == "i"]

In [26]:
lst

['i', 'i']

## Example 4
Can also do more complicated arithmetic:

In [29]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*c_temp + 32) for c_temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example 5
We can also perform nested list comprehensions, for example:

In [34]:
lst = []


for x in range(11):
    lst.append(x**2)

print(lst)


new_lst = []

for x in lst:
    new_lst.append(x**2)

print(new_lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [40]:
#lst = [ x**2 for x in [x**2 for x in range(11)]]


lst = [ y**2 for y in [ x**2 for x in range(11) ] ]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]