# Lambda Expressions, Map, and Filter

Now its time to quickly learn about two built in functions, filter and map. Once we learn about how these operate, we can learn about the lambda expression, which will come in handy when you begin to develop your skills further!

## map function : "map" a function to an iterable object

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [0]:
def square(num):
    return num**2

In [0]:
my_nums = [1,2,3,4,5]

In [0]:
my_list = []
for num in my_nums:
  my_list.append(square(num))

In [5]:
my_list

[1, 4, 9, 16, 25]

In [6]:
map(square,my_nums)

In [8]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
# To get the results, either iterate through map() 
# or just cast to a list  # similar to range list(range(0,10))

list(map(square,my_nums))

[1, 4, 9, 16, 25]

The functions can also be more complex

In [0]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [0]:
mynames = ['Happy', 'Kristin' , 'John', 'Cindy', 'Sarah', 'Kelly', 'Mike']

In [0]:
#list(map(splicer,mynames))

In [22]:
list( map(splicer , mynames) )

['H', 'K', 'even', 'C', 'S', 'K', 'even']

## filter function

The filter function returns an iterator yielding those items of iterable for which function(item)
is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [23]:
5 % 2 == 0

False

In [24]:
6 % 2 == 0

True

In [0]:
def check_even(num):
    return num % 2 == 0

In [0]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [28]:
filter(check_even,nums)

In [29]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

## lambda expression

One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

Lets slowly break down a lambda expression by deconstructing a function:

In [0]:
def square(num):
    result = num**2
    return result

In [32]:
square(5)

25

We could simplify it:

In [0]:
def square(num):
    return num**2

In [34]:
square(5)

25

We could actually even write this all on one line.

In [0]:
def square(num): return num**2

In [36]:
square(5)

25

This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [39]:
lambda num: num**2

In [0]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square = lambda num: num **2

In [40]:
square(5)

25

So why would use this? Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression. Let's repeat some of the examples from above with a lambda expression

In [41]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [42]:
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25]

In [43]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

In [44]:
list(filter(lambda n: n % 2 == 0,nums))

[0, 2, 4, 6, 8, 10]

Here are a few more examples, keep in mind the more comples a function is, the harder it is to translate into a lambda expression, meaning sometimes its just easier (and often the only way) to create the def keyword function.

** Lambda expression for grabbing the first character of a string: **

In [47]:
print( mynames)

['Happy', 'Kristin', 'John', 'Cindy', 'Sarah', 'Kelly', 'Mike']

In [0]:
lambda s: s[0]

In [45]:
list( map(lambda s: s[0] , mynames))

['H', 'K', 'J', 'C', 'S', 'K', 'M']

** Lambda expression for reversing a string: **

In [0]:
lambda s: s[::-1]

In [48]:
list( map(lambda s: s[::-1] , mynames))

['yppaH', 'nitsirK', 'nhoJ', 'ydniC', 'haraS', 'ylleK', 'ekiM']

You can even pass in multiple arguments into a lambda expression. Again, keep in mind that not every function can be translated into a lambda expression.

In [0]:
lambda x,y : x + y

In [49]:
my_list_1 = [1,2,3]
my_list_2 = [4,5,6]

list( map(lambda x,y : x + y, my_list_1 , my_list_2 ))

[5, 7, 9]

You will find yourself using lambda expressions often with certain non-built-in libraries, for example the pandas library for data analysis works very well with lambda expressions.