# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [0]:
import pandas as pd
import numpy as np

In [0]:
from numpy.random import randn
np.random.seed(101)

In [0]:
randn(5,4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [0]:
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [0]:
'W X Y Z'.split()

['W', 'X', 'Y', 'Z']

In [0]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [0]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [0]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [0]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [0]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [0]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

DataFrame Columns are just Series

In [0]:
type(df['W'])

pandas.core.series.Series

In [0]:
type(df[['W','Z']])

pandas.core.frame.DataFrame

**Creating a new column:**

In [0]:
df['new'] = df['W'] + df['Y']

In [0]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [0]:
df['NewColumn'] = None

In [0]:
df

          W         X         Y         Z       new NewColumn
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420      None
B -0.134841  0.390528  0.166905  0.184502  0.032064      None
C  0.807706  0.072960  0.638787  0.329646  1.446493      None
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510      None
E -0.116773  1.901755  0.238127  1.996652  0.121354      None

**Removing Columns**

In [0]:
df.drop('new',axis=1)

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
B -0.134841  0.390528  0.166905  0.184502      None
C  0.807706  0.072960  0.638787  0.329646      None
D -0.497104 -0.754070 -0.943406  0.484752      None
E -0.116773  1.901755  0.238127  1.996652      None

In [0]:
# Not inplace unless specified!
df

          W         X         Y         Z       new NewColumn
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420      None
B -0.134841  0.390528  0.166905  0.184502  0.032064      None
C  0.807706  0.072960  0.638787  0.329646  1.446493      None
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510      None
E -0.116773  1.901755  0.238127  1.996652  0.121354      None

In [0]:
df.drop('new',axis=1,inplace=True)

In [0]:
df

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
B -0.134841  0.390528  0.166905  0.184502      None
C  0.807706  0.072960  0.638787  0.329646      None
D -0.497104 -0.754070 -0.943406  0.484752      None
E -0.116773  1.901755  0.238127  1.996652      None

Can also drop rows this way:

In [0]:
df.drop('E',axis=0)

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
B -0.134841  0.390528  0.166905  0.184502      None
C  0.807706  0.072960  0.638787  0.329646      None
D -0.497104 -0.754070 -0.943406  0.484752      None

In [0]:
df

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
B -0.134841  0.390528  0.166905  0.184502      None
C  0.807706  0.072960  0.638787  0.329646      None
D -0.497104 -0.754070 -0.943406  0.484752      None
E -0.116773  1.901755  0.238127  1.996652      None

In [0]:
df.drop('E', axis=0, inplace=True)
df

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
B -0.134841  0.390528  0.166905  0.184502      None
C  0.807706  0.072960  0.638787  0.329646      None
D -0.497104 -0.754070 -0.943406  0.484752      None

# DEL keyword

In [0]:
copy_df = df.copy()
copy_df

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
B -0.134841  0.390528  0.166905  0.184502      None
C  0.807706  0.072960  0.638787  0.329646      None
D -0.497104 -0.754070 -0.943406  0.484752      None

In [0]:
del copy_df['W']
copy_df

          X         Y         Z NewColumn
A  1.693723 -1.706086 -1.159119      None
B  0.390528  0.166905  0.184502      None
C  0.072960  0.638787  0.329646      None
D -0.754070 -0.943406  0.484752      None

**Selecting Rows**

In [0]:
a_row = df.loc['A']
a_row

W            0.302665
X             1.69372
Y            -1.70609
Z            -1.15912
NewColumn        None
Name: A, dtype: object

In [0]:
a_row.loc['W']

0.3026654485851825

In [0]:
type(df.loc['A'])

pandas.core.series.Series

In [0]:
df.loc['A'].dtype

dtype('O')

In [0]:
df

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
B -0.134841  0.390528  0.166905  0.184502      None
C  0.807706  0.072960  0.638787  0.329646      None
D -0.497104 -0.754070 -0.943406  0.484752      None

Or select based off of position instead of label

In [0]:
df.iloc[2]

W             0.807706
X            0.0729597
Y             0.638787
Z             0.329646
NewColumn         None
Name: C, dtype: object

** Selecting subset of rows and columns **

In [0]:
df.loc['B','Y']

0.16690463609281317

In [0]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

In [0]:
type(df.loc[['A','B'],['W','Y']])

pandas.core.frame.DataFrame

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [0]:
df

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
B -0.134841  0.390528  0.166905  0.184502      None
C  0.807706  0.072960  0.638787  0.329646      None
D -0.497104 -0.754070 -0.943406  0.484752      None

In [0]:
df>0

       W      X      Y      Z  NewColumn
A   True   True  False  False      False
B  False   True   True   True      False
C   True   True   True   True      False
D  False  False  False   True      False

In [0]:
df[df>0]

          W         X         Y         Z NewColumn
A  0.302665  1.693723       NaN       NaN       NaN
B       NaN  0.390528  0.166905  0.184502       NaN
C  0.807706  0.072960  0.638787  0.329646       NaN
D       NaN       NaN       NaN  0.484752       NaN

In [0]:
df_non_zero_w_colum = df[df['W']>0]
df_non_zero_w_colum

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
C  0.807706  0.072960  0.638787  0.329646      None

In [0]:
df_non_zero_w_colum['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [0]:
df[df['W']>0]

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
C  0.807706  0.072960  0.638787  0.329646      None

In [0]:
df[df['W']>0]['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [0]:
df[df['W']>0][['Y','X']]

          Y         X
A -1.706086  1.693723
C  0.638787  0.072960

For two conditions you can use | and & with parenthesis:

In [0]:
df[(df['W']>0) & (df['Y'] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z, NewColumn]
Index: []

In [0]:
type(df[(df['W']>0) & (df['Y'] > 1)])

pandas.core.frame.DataFrame

In [0]:
df[(df['W']>0) & (df['Y'] > 1)] ['Y']

Series([], Name: Y, dtype: float64)

In [0]:
type(df[(df['W']>0) & (df['Y'] > 1)] ['Y'])

pandas.core.series.Series

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [0]:
df

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
B -0.134841  0.390528  0.166905  0.184502      None
C  0.807706  0.072960  0.638787  0.329646      None
D -0.497104 -0.754070 -0.943406  0.484752      None

In [0]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z NewColumn
0     A  0.302665  1.693723 -1.706086 -1.159119      None
1     B -0.134841  0.390528  0.166905  0.184502      None
2     C  0.807706  0.072960  0.638787  0.329646      None
3     D -0.497104 -0.754070 -0.943406  0.484752      None

In [0]:
df.iloc[0]

W            0.302665
X             1.69372
Y            -1.70609
Z            -1.15912
NewColumn        None
Name: A, dtype: object

In [0]:
df.loc['A']

W            0.302665
X             1.69372
Y            -1.70609
Z            -1.15912
NewColumn        None
Name: A, dtype: object

In [0]:
df.iloc[0][['Y' , 'Z']]

Y   -1.70609
Z   -1.15912
Name: A, dtype: object

In [0]:
df.loc['A'][['Y' , 'Z']]

Y   -1.70609
Z   -1.15912
Name: A, dtype: object

In [0]:
df

          W         X         Y         Z NewColumn
A  0.302665  1.693723 -1.706086 -1.159119      None
B -0.134841  0.390528  0.166905  0.184502      None
C  0.807706  0.072960  0.638787  0.329646      None
D -0.497104 -0.754070 -0.943406  0.484752      None

In [0]:
np.random.seed(101)
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [0]:
newind = 'CA NY WY OR CO'.split()
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [0]:
df['States'] = newind

In [0]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [0]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [0]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [0]:
df.set_index('States',inplace=True)

In [0]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [0]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
print(hier_index)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [0]:
hier_nulti_index = pd.MultiIndex.from_tuples(hier_index)

In [0]:
hier_nulti_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [0]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_nulti_index, columns=['A','B'])
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [0]:
df.loc['G1']

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [0]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [0]:
df.loc['G1'].iloc[0]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [0]:
df.iloc[0]

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [0]:
df.iloc[3]

A    0.166905
B    0.184502
Name: (G2, 1), dtype: float64

All of the MultiIndex constructors accept a names argument which stores string names for the levels themselves. If no names are provided, None will be assigned:

In [0]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [0]:
df.index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [0]:
df.index.names

FrozenList([None, None])

In [0]:
df.index.names = ['Group','Num']

In [0]:
df

                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

In [0]:
df.xs('G1')

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [0]:
df.xs(['G1',1])

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [0]:
df.xs(1,level='Num')

              A         B
Group
G1     0.302665  1.693723
G2     0.166905  0.184502

In [0]:
df.xs(2,level='Num')

              A         B
Group
G1    -1.706086 -1.159119
G2     0.807706  0.072960