# Python Collections

There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered and unindexed. No duplicate members.
    Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

** choosing a collection type **
When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# LIST

    A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [1]:
fruitsList = ["apple", "banana", "cherry"]
print(fruitsList)

['apple', 'banana', 'cherry']

# Access Items using the index number

In [2]:
#You access the list items by referring to the index number
print(fruitsList[0])

apple

In [3]:
print(fruitsList[1])

# Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.
print(fruitsList[-1])
print(fruitsList[-2])

banana
cherry
banana

# Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

    nameOfList[Starting index : Stop Index(but item not including)]

** Remember that the first item in the LIST is position 0 **

    Index myFavFruits
    0     apple
    1     banana
    2     cherry
    3     orange
    4     kiwi
    5     melon
    6     mango

In [4]:
myFavFruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(myFavFruits[2:5])

# This will return the items from position 2 to 5.
# The search will start at index 2 (included) and end at index 5 (not included).

['cherry', 'orange', 'kiwi']

In [5]:
# By leaving out the start value, the range will start at the first item:
print(myFavFruits[0:4])
print(myFavFruits[:4]) # recommended

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']

In [6]:
print(myFavFruits[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [7]:
myFavFruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(myFavFruits[-4:-1])

['orange', 'kiwi', 'melon']

# Remember:List is changeable

You can Change the List Value using the index number

In [8]:
fruitsList = ["apple", "banana", "cherry"]
fruitsList[0] = "Strawberries"
print(fruitsList)

['Strawberries', 'banana', 'cherry']

# Check if Item Exists in the list

In [9]:
fruitsList = ["strawberries", "banana", "cherry"]
if "apple" in fruitsList :
  print("Yes, 'apple' is in the fruits list") 
else:
  print("apple is not present in the list")

apple is not present in the list

# Find the list length / number of items in the list

In [10]:
fruitsList = ["apple", "banana", "cherry"]
print(len(fruitsList))

3

# Find the count of an item in the list

In [11]:
fruitsList = ["apple", "banana", "cherry", "apple"]
print(fruitsList.count("apple"))

2

# Add items in the list

In [12]:
# append() : To add an item to the end of the list

fruitsList = ["apple", "banana", "cherry"]
fruitsList.append("orange")
print(fruitsList)

['apple', 'banana', 'cherry', 'orange']

In [13]:
# Append list within a list

fruitsList1 = ["apple", "banana", "cherry"]
fruitsList2 = ["strawberries", "blueberries"]

fruitsList1.append(fruitsList2)

print(fruitsList1)
print(fruitsList2)

['apple', 'banana', 'cherry', ['strawberries', 'blueberries']]
['strawberries', 'blueberries']

In [14]:
# insert() : To add an item at the specified index

fruitsList = ["apple", "banana", "cherry"]
fruitsList.insert(2 , "orange")
print(fruitsList)

['apple', 'banana', 'orange', 'cherry']

# Remove Item from the list

In [15]:
# remove() : Remove the specified value

fruitsList = ["apple", "banana", "cherry", "banana"]
fruitsList.remove("banana")
print(fruitsList)

['apple', 'cherry', 'banana']

In [16]:
# pop() : removes the last item by default , otherwise specified index

# Index not specified (by default)
fruitsList = ["apple", "banana", "cherry"]
fruitsList.pop()
print(fruitsList)

['apple', 'banana']

In [17]:
#Index specified

fruitsList = ["apple", "banana", "cherry"]
fruitsList.pop(1)
print(fruitsList)

['apple', 'cherry']

In [18]:
# del : keyword (not a function) removes the specified index

fruitsList = ["apple", "banana", "cherry"]
del fruitsList[0]
print(fruitsList)

['banana', 'cherry']

In [19]:
# del : keyword can also delete the list completely

fruitsList = ["apple", "banana", "cherry"]
del fruitsList
print(fruitsList) ##this will cause an error because you have succsesfully deleted "fruitsList"

NameError: ignored

In [0]:
# clear() : clear the list

fruitsList = ["apple", "banana", "cherry"]
fruitsList.clear()
print(fruitsList)
print(bool(fruitsList))

# Copy a List

In [0]:
fruitsList1 = ["apple", "banana", "cherry"]
fruitsList2 = fruitsList1
print(fruitsList1)
print(fruitsList2)

In [0]:
fruitsList1 = ["apple", "banana", "cherry"]
fruitsList2 = fruitsList1

fruitsList1.pop()

print(fruitsList1)
print(fruitsList2)

# You cannot copy a list simply by typing list2 = list1, 
# because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

**There are ways to make a copy, one way is to use the built-in List method copy()**

In [0]:
# Method One
# copy() : Make a copy of a list

fruitsList1 = ["apple", "banana", "cherry"]
fruitsList2 = fruitsList1.copy()

print(fruitsList1)
print(fruitsList2)

In [0]:
#Operations perform on the list 1 will not affect the copy of the list.

fruitsList1 = ["apple", "banana", "cherry"]
fruitsList2 = fruitsList1.copy()

fruitsList1.pop()

print(fruitsList1)
print(fruitsList2)

In [0]:
# Method 2
# Another way to make a copy is to use the built-in method list().

fruitsList1 = ["apple", "banana", "cherry"]
fruitsList2 = list(fruitsList1) 

print(fruitsList1)
print(fruitsList2)

In [0]:
# Operations perform on the list 1 will not affect the copy of the list.

fruitsList1 = ["apple", "banana", "cherry"]
fruitsList2 = list( fruitsList1 )

fruitsList1.pop()

print(fruitsList1)
print(fruitsList2)

# Loop Through a List

You can loop through the list items by using a for loop:

In [0]:
# Print all items in the list, one by one

fruitsList = ["apple", "banana", "cherry"]

for fruit in fruitsList:
  print( fruit)

# Join two lists

There are several ways to join, or concatenate, two or more lists in Python.

In [0]:
# Method 1
# One of the easiest ways are by using the + operator.

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2

print(list1) 
print(list2) 
print(list3)

In [0]:
# Method 2
# Another way to join two lists are by appending all the items from list2 into list1, one by one:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1) 
print(list2)

In [0]:
# Method 3
# extend() : Add elements from one list to another list AT THE END

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)

print(list1) 
print(list2)

# The list() Constructor

It is also possible to use the list() constructor to make a new list.

In [0]:
thislist = list(( "apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

# Find the index of the item in the list

In [0]:
# The index() method only returns the first occurrence of the value
fruitsList = ["apple", "banana", "cherry", "banana"]
print(fruitsList.index("banana"))

# Reverse the list items

In [0]:
fruitsList = ["apple", "banana", "cherry"]
fruitsList.reverse()
print(fruitsList)

# Sort the list

In [0]:
# sorts the list ascending by default.
fruitsList = ["banana", "strawberries", "apple" , "mango" , "cherry"]
fruitsList.sort()
print(fruitsList)

In [0]:
# sorts the list by descending order
fruitsList = ["banana", "strawberries", "apple" , "mango" , "cherry"]
fruitsList.sort(reverse=True)
print(fruitsList)