# Python Collections

There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered and unindexed. No duplicate members.
    Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

**Choosing a collection type**

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# Tuple

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [1]:
empty_tuple = ()
print(empty_tuple) 
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
one_element_in_tuple_treated_as_string = ("Mercury")
print(one_element_in_tuple_treated_as_string) 
print(type(one_element_in_tuple_treated_as_string))

Mercury
<class 'str'>

In [0]:
only_one_element_in_tuple = ("Mercury", )
print(only_one_element_in_tuple) 
print(type(only_one_element_in_tuple))

('Mercury',)
<class 'tuple'>

In [3]:
planets = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune" )
print(planets)
print(type(planets))

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
<class 'tuple'>

# Access Items using the index number

In [4]:
#You access the TUPLE items by referring to the index number
print(planets[0])
print(planets[2])
print(planets[4])

Mercury
Earth
Jupiter

In [5]:
# Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.
print(planets[-1])
print(planets[-2])

Neptune
Uranus

# Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new **tuple** with the specified items.

    nameOfTuple[Starting index : Stop Index(but item not including)]

** Remember that the first item in the TUPLE is at position 0 **

    Index planets
    0     Mercury
    1     Venus
    2     Earth
    3     Mars
    4     Jupiter
    5     Saturn
    6     Uranus
    7     Neptune

In [6]:
planets = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune" )
print(planets[2:5])

# This will return the items from position 2 to 5.
# The search will start at index 2 (included) and end at index 5 (not included).

('Earth', 'Mars', 'Jupiter')

In [0]:
# By leaving out the start value, the range will start at the first item:
print(planets[0:4])
print(planets[:4]) # recommended

('Mercury', 'Venus', 'Earth', 'Mars')
('Mercury', 'Venus', 'Earth', 'Mars')

In [7]:
print(planets[2:])

('Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')

In [8]:
print(planets[-4:-1])

('Jupiter', 'Saturn', 'Uranus')

# Remember:Tuples are un-changeable / immutable

You cannot Change the Tuple Value using the index number

In [9]:
planets = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune" )

planets[0] = "MERCURY"
print(planets)

TypeError: ignored

# Check if Item Exists in the Tuple

In [10]:
planets = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune" )

if "Earth" in planets :
  print("Yes, 'Earth' is in the planets") 
else:
  print("Earth is not present in the planets")

Yes, 'Earth' is in the planets

In [11]:
if "earth" in planets :
  print("Yes, 'Earth' is in the planets") 
else:
  print("Earth is not present in the planets")

Earth is not present in the planets

In [12]:
if "earth".capitalize() in planets :
  print("Yes, 'Earth' is in the planets") 
else:
  print("Earth is not present in the planets")

Yes, 'Earth' is in the planets

# Find the tuple length / number of items in the tuple

In [13]:
print( len(planets))

8

# Find the count of an item in the tuple

In [14]:
print(planets.count("Earth"))

1

# Add items in the tuple

In [15]:
# append() : To add an item to the end of the tuple

planets[8] = "newPlanet"
print(planets)

TypeError: ignored

# Remove Item from the tuple

Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely

In [17]:
del planets
print(planets)

NameError: ignored

# Copy a tuple

In [24]:
planets = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune" )
planets2 = planets
print(planets)
print(planets2)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')

In [25]:
planets3 = planets.copy()
print(planets)
print(planets3)

AttributeError: ignored

# Loop Through a Tuple

You can loop through the tuple items by using a for loop:

In [26]:
for planet in planets:
  print( planet)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

# Join Two Tuples

In [27]:
newplanets = (1, 2, 3)

joined_tuple = planets + newplanets

print(planets) 
print(newplanets) 
print(joined_tuple)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
(1, 2, 3)
('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 1, 2, 3)

# Find the index of the item in the tuple

In [28]:
print(planets.index("Earth"))

2

# Lists containing tuples

In [29]:
a = ( 1, 2, 3)
b = 4, 5 ,6

tuples_inside_list = [ a, b]
print( tuples_inside_list )

[(1, 2, 3), (4, 5, 6)]

In [37]:
#create a new list

my_list = []
print(my_list)
my_list.append("Kristin")
my_list.append(a)
my_list.append(b)

print(my_list)

[]
['Kristin', (1, 2, 3), (4, 5, 6)]

In [40]:
# Unpack the tuples

x , y, z  = (1,2, 3)
print(x)
print(y)

1
2

In [41]:
(age, years_of_school) = "30,17".split(',') # 30, 17
print (age)
print (years_of_school)

30
17

In [42]:
(first_name, last_name) = "harpreet,kaur".split(',')
print (first_name)
print (last_name)

harpreet
kaur

# Function returning results in the form of tuple

In [46]:
def sum_product(x, y):
  sum = x + y
  product = x * y
  substraction = x - y
  return sum, product, substraction

s, p , d = sum_product(3 , 4 )
print(s)
print(p)
print(d)
print(d)

7
12
-1
-1