# Python Collections

There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered and unindexed. No duplicate members.
    Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

**Choosing a collection type**

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# SET

    Set is a collection which is unordered and unindexed. No duplicate members.

    Basic uses include membership testing and eliminating duplicate entries.
    Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

    Curly braces or the set() function can be used to create sets. 
    
    Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section.

In [2]:
empty_set = set() # {} - dictionary
print(empty_set) 
print(type(empty_set))

set()
<class 'set'>

In [6]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)
print(type(basket))

{'banana', 'apple', 'pear', 'orange'}
<class 'set'>

# Access Items using the index number

NOT POSSIBLE IN THE CASE OF SETS, AS THE SETS ARE UNORDERED.


Is there any other way to access the items?

1. Find/ Access the item using the membership operator
2. Iterate a loop through the all values of the set.

# Check if Item Exists in the set

In [0]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

if "apple" in basket :
  print("Yes, 'apple' is in the fruits set") 
else:
  print("apple is not present in the set")

{'apple', 'banana', 'orange', 'pear'}
Yes, 'apple' is in the fruits set

# Loop Through a set

You can loop through the set items by using a for loop

In [0]:
# Print all items in the list, one by one

for fruit in basket:
  print( fruit)

apple
banana
orange
pear

# Find the set length / number of items in the set

In [7]:
print(len(basket))

4

# Add items in the set
**Remember: Sets are unordered and un-changeable**

Once a set is created, you cannot change its items, but you can add new items.

In [8]:
# add() : to add an single item in the set

basket = {'apple', 'banana', 'orange', 'pear'}
basket.add("strawberries")
print(basket)

{'orange', 'pear', 'apple', 'banana', 'strawberries'}

**update()**: To add multiple items (as the list of items) in the set

In [9]:
basket.update(["blueberries" , "mango" , "cherries"])
print(basket)

{'orange', 'pear', 'apple', 'banana', 'strawberries', 'cherries', 'blueberries', 'mango'}

# Remove Item from the set

In [10]:
# remove() : Remove the specified value

basket = {'apple', 'banana', 'orange', 'pear'}
basket.remove("banana")
print(basket)

{'apple', 'pear', 'orange'}

In [11]:
# If item to be deleted does not exist, remove() will raise an error
basket = {'apple', 'banana', 'orange', 'pear'}
basket.remove("strawberries")
print(basket)

KeyError: ignored

If the item to remove does not exist, discard() will NOT raise an error.

In [12]:
basket = {'apple', 'banana', 'orange', 'pear'}
basket.discard("strawberries")
print(basket)

{'banana', 'apple', 'pear', 'orange'}

**pop()** : removes the last item by default. Remember that sets are unordered, so you will not know what item that gets removed.

In [13]:
basket = {'apple', 'banana', 'orange', 'pear'}
basket.pop()
print(basket)

{'apple', 'pear', 'orange'}

Want to know which item gets removed?
The return value of the pop() method is the removed item.

In [15]:
basket = {'apple', 'banana', 'orange', 'pear'}
popped_item = basket.pop()
print(popped_item)
print(basket)

banana
{'apple', 'pear', 'orange'}

**del** : keyword (not a function) removes the entire set completely

In [0]:
basket = {'apple', 'banana', 'orange', 'pear'}
del basket
#print(basket)

**clear()** : clear the set

In [18]:
basket = {'apple', 'banana', 'orange', 'pear'}
basket.clear()
print(basket)
print(bool(basket))

set()
False

# Copy of a set

In [19]:
basket = {'apple', 'banana', 'orange', 'pear'}
basket2 = basket.copy()

print(basket)
print(basket2)

{'banana', 'apple', 'pear', 'orange'}
{'banana', 'apple', 'pear', 'orange'}

# Join two lists

**union()** method that returns a new set containing all items from both sets

**update()** method that inserts all the items from one set into another. The update() method updates the current set, by adding items from another set.

Both union() and update() will exclude any duplicate items.

In [20]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)

print(set1) 
print(set2)

{1, 2, 3, 'b', 'c', 'a'}
{1, 2, 3}

In [21]:
set1 = {"a", "b" , "c" , "x"}
set2 = {1, 2, 3}
set3 = {"x" , "y" , "z" , "a"}

set4 = set1.union(set2, set3)

print(set1) 
print(set2) 
print(set3) 
print(set4)

{'b', 'c', 'a', 'x'}
{1, 2, 3}
{'z', 'a', 'y', 'x'}
{1, 2, 3, 'y', 'a', 'z', 'b', 'c', 'x'}

# Set Methods

In [22]:
set1 = {"a", "b" , "c" , "x"}
set2 = {"x" , "y" , "z" , "a"}

difference_set = set1.difference(set2)

print(set1)
print(set2)
print(difference_set)

{'b', 'c', 'a', 'x'}
{'z', 'a', 'y', 'x'}
{'b', 'c'}

In [0]:
set1 = {"a", "b" , "c" , "x"}
set2 = {"x" , "y" , "z" , "a"}

difference_set = set1 - set2
print(difference_set)

{'b', 'c'}

**difference()** method returns a new set, without the unwanted items, and without affecting the original set 

**difference_update()** method removes the unwanted items from the original set

In [24]:
set1 = {"a", "b" , "c" , "x"}
set2 = {"x" , "y" , "z" , "a"}

set1.difference_update(set2)

print(set1)
print(set2)

{'b', 'c'}
{'z', 'a', 'y', 'x'}

In [25]:
set1 = {"a", "b" , "c" , "x"}
set2 = {"x" , "y" , "z" , "a"}

common_set = set1.intersection(set2)

print(set1)
print(set2)
print(common_set)

{'b', 'c', 'a', 'x'}
{'z', 'a', 'y', 'x'}
{'a', 'x'}

In [0]:
set1 = {"a", "b" , "c" , "x"}
set2 = {"x" , "y" , "z" , "a"}

common_set = set1 & set2

print(set1)
print(set2)
print(common_set)

{'a', 'b', 'c', 'x'}
{'a', 'z', 'y', 'x'}
{'a', 'x'}

In [26]:
set1 = {"a", "b" , "c" , "x"}
set2 = {"x" , "y" , "z" , "a"}

set1.intersection_update(set2)

print(set1)
print(set2)

{'a', 'x'}
{'z', 'a', 'y', 'x'}

**isdisjoint()** method returns 

    True if no common item in both sets
    False if there is any common item in the sets

In [27]:
set1 = {"a", "b" , "c" , "x"}
set2 = {"x" , "y" , "z" , "a"}

disjoint = set1.isdisjoint(set2)

print(disjoint)

False

In [28]:
set1 = {"a", "b" , "c" }
set2 = {"x" , "y" , "z" }

disjoint = set1.isdisjoint(set2)

print(disjoint)

True

In [29]:
set1 = {"a", "b" , "c" }
set2 = {"x" , "y" , "z" , "a", "b" ,"c"}

subset = set1.issubset(set2)
print(subset)

True

In [31]:
set1 = {"a", "b" , "c" }
set2 = {"x" , "y" , "z" , "a", "b" ,"c"}

#subset = set1.issuperset(set2)
subset = set2.issuperset(set1)
print(subset)

True

**symmetric_difference()** returned set contains a mix of items that are not present in both sets.

In [33]:
set1 = {"a", "b" , "c" , "x"}
set2 = {"x" , "y" , "z" , "a"}

symmetric_difference_set = set1.symmetric_difference(set2)

print(symmetric_difference_set)

{'y', 'z', 'b', 'c'}

In [34]:
set1 = {"a", "b" , "c" , "x"}
set2 = {"x" , "y" , "z" , "a"}

set1.symmetric_difference_update(set2)

print(set1)
print(set2)

{'y', 'z', 'b', 'c'}
{'z', 'a', 'y', 'x'}