# for Loops

A for loop acts as an iterator in Python.
We can use the iterations through items that are in a sequence or any other iterable item

Basic syntax:

    for item_name in object:
        statements to perform action using the item_name variable


    Objects can be strings, lists, tuples, dictionaries keys/values/items.

    variable name ( in our case item_name) can be either a single word or descriptive (representing the kind of the value it holds). Try to choose a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example, if you wanted to use if statements to perform checks.

In [3]:
# descriptive
for letter in 'Python in Data Science':
    print(letter)

P
y
t
h
o
n

i
n

D
a
t
a

S
c
i
e
n
c
e

In [4]:
my_string = 'Python in Data Science'

# short variable
for x in my_string:
    print(x)
    if( x == 'n'):
      break

P
y
t
h
o
n

In [6]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]

for number in list1:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [7]:
for num in list1:
    if num % 2 == 0: # if number is even
        print(num)

2
4
6
8
10

In [10]:
for num in list1:
    if num % 2 == 0:
        print('Even number ' + str(num))
    else:
        print('Odd number ' + str(num) )

Odd number 1
Even number 2
Odd number 3
Even number 4
Odd number 5
Even number 6
Odd number 7
Even number 8
Odd number 9
Even number 10

Another common idea during a for loop is keeping some sort of running tally during multiple loops. For example, let's create a for loop that sums up the list:

In [17]:
# Start sum at zero
sum = 0 

for number in list1:
    #print( ' number in the loop ' + str(number))
    sum = sum + number
    #sum += number
    #print('sum = ' + str(sum))
    if( sum == 45):
      print('TARGET ACHIEVED') # Take care of the indentation

print('Total sum after execting the for loop ' + str(sum))

TARGET ACHIEVED
Total sum after execting the for loop 55

Great! Read over the above cell and make sure you understand fully what is going on. Also we could have implemented a += to perform the addition towards the sum. For example:

In [18]:


# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

55

In [0]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

Tuples have a special quality when it comes to for loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of tuple unpacking. During the for loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [0]:
list2 = [(2,4),(6,8),(10,12)]

In [22]:
for tup in list2:
    print(tup)
    x , y  = tup
    print(x)
    print(y)

(2, 4)
2
4
(6, 8)
6
8
(10, 12)
10
12

Cool! With tuples in a sequence we can access the items inside of them through unpacking! The reason this is important is because many objects will deliver their iterables through tuples. Let's start exploring iterating through Dictionaries to explore this further!

In [0]:
d = {'k1':1,'k2':2,'k3':3}

In [26]:
for key_item in d:
    print(key_item)

k1
k2
k3

In [28]:
for key_item in d.keys():
    print(key_item)

k1
k2
k3

In [29]:
for value_item in d.values():
    print(value_item)

1
2
3



Notice how this produces only the keys. So how can we get the values? Or both the keys and the values?

We're going to introduce three new Dictionary methods: .keys(), .values() and .items()

In Python each of these methods return a dictionary view object. It supports operations like membership test and iteration, but its contents are not independent of the original dictionary – it is only a view. Let's see it in action:

In [0]:
# Create a dictionary view object
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

Since the .items() method supports iteration, we can perform dictionary unpacking to separate keys and values just as we did in the previous examples

In [0]:
Since the .items() method supports iteration, we can perform dictionary unpacking to separate keys and values just as we did in the previous examples

In [30]:
# Dictionary unpacking
for key_item,value_item in d.items():
    print(key_item)
    print(value_item)

k1
1
k2
2
k3
3



If you want to obtain a true list of keys, values, or key/value tuples, you can cast the view as a list:

In [31]:
list(d.keys())

['k1', 'k2', 'k3']



Remember that dictionaries are unordered, and that keys and values come back in arbitrary order. You can obtain a sorted list using sorted():

In [32]:
sorted(d.values())

[1, 2, 3]